<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            data-toggle="modal"
            data-target="#add-modal"
        >
            Add
        </button>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIM</th>
                        <th>Jurusan</th>
                        <th>Alamat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% mahasiswa.forEach((mhs, i) => { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= mhs.nama %></td>
                            <td><%= mhs.nim %></td>
                            <td><%= mhs.jurusan %></td>
                            <td><%= mhs.alamat %></td>
                            <td class="text-center">
                                <!-- Edit Button -->
                                <button
                                    type="button"
                                    class="btn btn-outline-info btn-sm button-update"
                                    data-id="<%= mhs._id %>"
                                    data-nama="<%= mhs.nama %>"
                                    data-nim="<%= mhs.nim %>"
                                    data-jurusan="<%= mhs.jurusan %>"
                                    data-alamat="<%= mhs.alamat %>"
                                    data-toggle="modal"
                                    data-target="#edit-modal">
                                    Edit
                                </button>

                                <!-- Delete Button -->
                                <form action="/mahasiswa/<%= mhs._id %>?_method=DELETE" method="POST" style="display:inline-block;">
                                    <button
                                        type="submit"
                                        class="btn btn-outline-danger btn-sm"
                                        onclick="return confirm('Apakah anda yakin ingin menghapus data mahasiswa?')">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>